.text-before-list {
    margin-bottom: 0;
}

.bullet-list {
    margin-top: 0;
    padding-left: 1.2em;
    list-style-type: disc;
}

.bullet-list__item {
    margin: 0;
    line-height: 1.5;
}

.highlight {
    color: #8d0101;
    font-weight: 500;
}

.inline-link {
    color: #8d0101;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease, border-bottom 0.3s ease;
    border-bottom: 1px dashed transparent;
}

.inline-link:hover,
.inline-link:focus {
    color: #5c0000;
    border-bottom: 1px dashed #5c0000;
}


@media (max-width: 768px) {
    .bullet-list__item {
        margin: 0;
    }
}